@import './reset.less';
@import './css-tools/index.less';

html {
    font-size: 16px !important;
    @media screen and (max-width: 1600px) {
        font-size: 14px !important;
    }
    @media screen and (max-width: 1400px) {
        font-size: 10px !important;
    }
}

button {
    background: @topicColor;
    outline: none;
    border: 1px solid #ddd;
    padding: 3px 15px;
    border-radius: 3px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}